In [1]:
import pandas as pd
import seaborn as sns
import pingouin as png

In [3]:
raw = pd.read_csv("https://raw.githubusercontent.com/ethanweed/ExPsyLing/master/datasets/Sentence-verification/2021/sentence-verification.csv")

In [41]:
df = pd.DataFrame({'participantID' : raw['sessionid'],
                  'condition' : raw['condition'],
                  'sentence' : raw['stim'],
                  'rt' : raw['response_time'],
                  'correct' : raw['correct']})

In [43]:
df.head()

   participantID condition                 sentence    rt  correct
0  1637220363788        P2       Bourbon is gritty.  1017        0
1  1637220363788        SO  A parakeet is an eagle.  1017        0
2  1637220363788        SO      Chicago is a state.  1017        0
3  1637220363788        PO       A canary can sing.  1016        0
4  1637220363788        P1      A canoe has a sail.  1017        0

In [68]:
data = df.groupby(['participantID', 'condition']).mean().reset_index()
data['participantID'] = [1]*data.shape[0]
data['participantID'] = data['participantID'].cumsum()
data

     participantID condition           rt  correct
0                1        P1  1016.000000      0.0
1                2        PO  1015.000000      0.0
2                3        S1  1016.000000      0.0
3                4        P1  1016.000000      0.0
4                5        SO  1001.000000      0.0
..             ...       ...          ...      ...
133            134        P2  1016.666667      0.0
134            135        PO  1016.200000      0.0
135            136        S1  1016.666667      0.0
136            137        S2  1016.400000      0.0
137            138        SO  1016.500000      0.0

[138 rows x 4 columns]